<!-- details section  -->
<!-- change the binding name as the new property name is "hero" -->
<div *ngIf="hero">

    <h2>
        <p>Hero Details: </p>{{ hero.name }}
        <p>City: </p>{{ hero.city }}
        <p>Power: </p>{{ hero.power }}
    </h2>
    <div><span>id: </span>{{ hero.id }}</div>
    <div>
        <label>name:
            <input [(ngModel)]="hero.name" placeholder="name" />
        </label>
    </div>
    <button (click)="save()">save</button>
    <div>
        <button (click)="goBack()">go back</button>
    </div>
</div>
